* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cardo", serif;
}
body {
  background-color: rgb(113, 159, 177);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 850px;
  height: 80%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

img {
  max-height: 70px;
  border: 0;
}

.organizersText {
  font-size: 20px;
  text-align: left;
  margin-right: 50px;
  color: #fff;
}
.main-content {
  width: 100%;
  padding: 50px 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 25px 31px 0 rgba(0, 0, 0, 0.5);
}

.text-area {
  text-align: center;
  font-size: 4.5vmin;
  color: #262626;
  line-height: 1.5;
}
.text-area .icon {
  margin-right: 5px;
}
.main-content .writer {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: red;
  text-align: center;
  margin-top: 20px;
  font-size: 3.2vw;
}
.main-content .button-area {
  display: grid;
  place-items: center;
  margin-top: 20px;
  padding: 10px 0;
}
.button-area .btn button {
  background-color: #105ec4;
  color: #fff;
  border-radius: 15px;
  font-size: 5.2vw;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 20px 100px;
}
.button-area button:active {
  background-color: deepskyblue;
}
