* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cardo", serif;
}

body {
  background-color: rgb(113, 159, 177);
}

@media (max-width: 899px) {
  body {
    padding: 10px;
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 850px;
  height: 80%;
}

@media (max-width: 899px) {
  .container {
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container img {
  max-height: 70px;
  border: 0;
  min-width: 25px;
}

.main-content {
  width: 100%;
  padding: 50px 40px 26px 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 25px 31px 0 rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

@media (max-width: 899px) {
  .main-content {
    padding: 20px 10px;
  }
}

.main-content-hidden {
  opacity: .8;
}

.text-area {
  text-align: center;
  color: #262626;
  line-height: 1.5;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.text-area-hidden {
  opacity: 0;
}

.quote {
  font-size: 1.8em;
}

.writer {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: red;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
}

.button-area {
  display: grid;
  place-items: center;
  margin-top: 30px;
  padding: 10px 0;
}

.btn button {
  background-color: #105ec4;
  color: #fff;
  border-radius: 15px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 20px 100px;
}

@media (max-width: 899px) {
  .btn button {
    padding: 20px;
  }
}

button:active {
  background-color: deepskyblue;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
